@import url(./icon.css);
@import url(./design.css);
.p-100 {
  padding: 100px 100px;
}
.p-50 {
  padding: 50px 50px;
}
.p-16-50 {
  padding: 16px 50px;
}
.pad-b-128 {
  padding-bottom: 128px;
}

.main-page {
  padding: 30vh 0;
}
.login-page {
  padding: 10vh 0;
}
.register-page {
  padding: 10vh 0;
}
.special-card .d-flex-special {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}
.special-card .d-flex-special a {
  margin-right: 32px;
}
.special-card .d-flex-special a:last-child {
  margin-right: 0;
}
.login-input {
  display: grid;
  justify-content: center;
  grid-template-columns: 70%;
}
.login-input input {
}

.logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.login-page .form-group label {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
}
.login-or {
  display: block;
  position: relative;
  text-align: center;
}
.login-or::before {
  content: "";
  height: 1px;
  width: calc(50% - 20px);
  background: #c8c7cc;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
}
.login-or:after {
  content: "";
  height: 1px;
  width: calc(50% - 20px);
  background: #c8c7cc;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
}
.reg-link p {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #3f4b60;
  margin-bottom: 0;
}
.reg-link .link {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration-line: underline;
  color: #20b5be;
  cursor: pointer;
}

/* Register */
.register-page .title-main {
  text-align: center;
}
.step-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-reg .back-breadcrumbs {
  margin-bottom: 0;
  position: absolute;
  left: 0;
}
.step-reg .step {
  font-weight: bold;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  color: #20b5be;
}

/* Sidebar */
.main-body {
  margin-left: 272px;
  transition: 0.3s;
}
.left-sidebar {
  background: #3f4b60;
  color: white;
  width: 272px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2rem 0;
  overflow: hidden;
  transition: 0.3s;
}
.container-sidebar {
  padding: 0 1rem;
  position: relative;
}
.row-sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.avatar {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.avatar .image-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.avatar .text {
  font-size: 1rem;
  font-weight: normal;
  color: #ffffff;
}
.avatar .image-avatar {
  margin-right: 1rem;
  width: 72px;
  height: 72px;
}
.avatar .image-avatar img {
  object-fit: cover;
  -o-object-fit: cover;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar .btn-side {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.avatar .btn-side i {
  transition: 0.5s;
  transform: rotate(180deg);
}
.avatar .btn-side:hover {
  opacity: 0.5;
  background: #ffffff33;
}

.user-profile {
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.user-profile .name,
.user-profile .bin,
.user-profile .company {
  color: white;
  display: block;
  /* white-space: nowrap; */
}
.user-profile .name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  transition: 0.3s;
}
.user-profile .bin,
.user-profile .company {
  font-weight: normal;
  font-size: 12px;
  transition: 0.3s;
  transform: translateX(0px);
}

.navigation {
  width: 100%;
  padding: 0;
  height: 70vh;
  padding-bottom: 3rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.list {
  width: 100%;
}
.list li {
  transition: 0.3s;
  cursor: pointer;
  display: grid;
  align-items: center;
  position: relative;
}
.list li .link-list {
  width: 100%;
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 24px 1fr;
  text-decoration: none;
}
.list li .link-list:hover {
  background: #596a87;
}
.list li .link-list.active {
  background: #596a87;
}
.list li .link-list .text {
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 16px;
  color: #ffffff;
  transform: translateX(0px);
  transition: 0.3s;
  white-space: nowrap;
}
.list li .link-list i {
  transform: translateX(0px);
  transition: 0.3s;
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
  position: absolute;
  left: 12px;
  top: 12px;
}
.status.active {
  background: #ff0000;
  transform: scale(1);
}
.left-sidebar.close .list li .link-list .status {
  left: 62px;
}

.list .dropdown-menu .link-list {
  grid-template-columns: 24px 1fr 16px;
}
.dropdown-menu .submenu i {
  visibility: hidden;
}
.dropdown-menu.collapse .dropdown {
  transform: rotate(180deg);
  transition: 0.3s;
}

.dropdown-menu {
  /* height: 56px;
    transition: height .3s ease; */
}
.dropdown-menu .submenu {
  max-height: 0;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}
.dropdown-menu.collapse .submenu {
  max-height: 1000px;
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
/* If close navigation */

.left-sidebar.close {
  width: 142px;
  transition: 0.3s;
}
.left-sidebar.close .avatar .text {
  transform: translateX(150px);
  opacity: 0;
  display: none;
}
.left-sidebar.close .avatar .btn-side i {
  transform: rotate(0deg);
  transition: 0.5s;
}

.left-sidebar.close .user-profile .name,
.left-sidebar.close .user-profile .company {
  transform: translateX(150px);
}
.left-sidebar.close .user-profile .bin {
  margin-top: -27px;
  padding-bottom: 27px;
}
.left-sidebar.close .list li .link-list .text {
  transform: translateX(150px);
  transition: 0.3s;
}
.left-sidebar.close .list li .link-list i {
  transform: translateX(46px);
  transition: 0.3s;
  /* position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.left-sidebar.close + .main-body {
  margin-left: 142px;
  transition: 0.3s;
}

.main-body .req-inner-footer {
  left: 272px;
  width: calc(100% - 272px);
  transition: 0.3s;
}
.left-sidebar.close + .main-body .req-inner-footer {
  width: calc(100% - 142px);
  left: 142px;
  transition: 0.3s;
}

/* Profile Manager */
.profile-manager {
}
.profile-manager h1 {
  text-align: left;
}

/* Заявки */
.tabs-filter {
}
.filter-content {
  max-height: 0;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}
.filter-content.view {
  max-height: 1000px;
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.filter-inputs {
  display: flex;
  align-items: flex-end;
  margin: 16px 0;
}
.filter-inputs .form-wrapper {
  margin-right: 16px;
  margin-bottom: 0;
}
.filter-inputs .form-wrapper:last-child {
  margin-right: 0px;
}
.filter-btns {
  display: flex;
  align-items: center;
}

/* Заявки подробнее*/
.req-manager-inner h1 {
  text-align: left;
}
/* .req-inner-header {
    border-bottom: 1px solid #C8C7CC;
    margin-bottom: 32px;
} */

.back-breadcrumbs {
  margin-bottom: 32px;
}
.back-breadcrumbs .back {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3f4b60;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  cursor: pointer;
}
.back-breadcrumbs .back i {
  margin-right: 8px;
  transition: 0.3s;
}
.back-breadcrumbs .back:hover i {
  transform: translateX(-8px);
}
.back-breadcrumbs .breadcrumbs {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #939393;
}
.back-breadcrumbs .breadcrumbs a {
  color: #939393;
}

.header-text-inner .back-breadcrumbs {
  margin-bottom: 16px;
}

/* Step Bar */
.status-bar {
  margin-bottom: 48px;
}
.step-progressbar {
  list-style: none;
  counter-reset: step;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.step-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #939393;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}
.step-item:before {
  width: 24px;
  height: 24px;
  content: counter(step);
  counter-increment: step;
  align-self: flex-start;
  background: #c8c7cc;
  color: #fff;
  border-radius: 100%;
  line-height: 3em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  transition: 0.3s;
}
.step-item:after {
  height: 2px;
  width: calc(100% - 24px);
  content: "";
  background: #c8c7cc;
  position: absolute;
  top: 11px;
  left: 24px;
  transition: 0.3s;
}
.step-item:last-child:after {
  content: none;
}
.step-item-active:before {
  background: #3f4b60;
}
.step-item-complete:before {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAyMUMxNi45NzA2IDIxIDIxIDE2Ljk3MDYgMjEgMTJDMjEgNy4wMjk0NCAxNi45NzA2IDMgMTIgM0M3LjAyOTQ0IDMgMyA3LjAyOTQ0IDMgMTJDMyAxNi45NzA2IDcuMDI5NDQgMjEgMTIgMjFaTTExLjc2ODIgMTUuNjQwMkwxNi43NjgyIDkuNjQwMThMMTUuMjMxOCA4LjM1OTgyTDEwLjkzMjggMTMuNTE4Nkw4LjcwNzExIDExLjI5MjlMNy4yOTI4OSAxMi43MDcxTDEwLjI5MjkgMTUuNzA3MUwxMS4wNjcyIDE2LjQ4MTRMMTEuNzY4MiAxNS42NDAyWiIgZmlsbD0iIzIwQjVCRSIvPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px;
  background-color: unset;
}
.step-item-complete:after {
  background: #20b5be;
}

/* Общие данные */
.info-list {
  margin-bottom: 0;
}
.info-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}
.info-list li:last-child {
  margin-bottom: 0;
}
.info-list li .left {
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: #939393;
  width: 200px;
  margin-right: 16px;
  display: block;
}
.info-list li .right {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #3f4b60;
  display: block;
  width: calc(100% - 216px);
}
.info-list li .right .edit {
  cursor: pointer;
}
.info-list li .right.active-link {
  cursor: pointer;
  text-decoration-line: underline;
  color: #19959c;
}

.info-list-sec {
  margin-bottom: 0px;
}
.info-list-sec li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}
.info-list-sec li:last-child {
  margin-bottom: 0;
}
.info-list-sec li .left {
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  color: #939393;
  width: 200px;
  margin-right: 16px;
  display: block;
}
.info-list-sec li .right {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  color: #3f4b60;
  display: block;
  width: calc(100% - 216px);
}

/* Обзор заявки - Подписание договора - Нет документа на рассмотрении */
.files-added {
  margin-bottom: 24px;
}
.files-list li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  text-decoration: underline;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3f4b60;
  transition: 0.3s;
}
.files-list li i {
  margin-right: 8px;
}
.files-list li span {
  cursor: pointer;
}
.files-list li.active span {
  text-decoration-line: underline;
  color: #19959c;
  transition: 0.3s;
}
.files-list li .trash {
  margin-right: 0;
  margin-left: 8px;
  filter: contrast(0);
  transition: 0.3s;
}
.files-list li.active .trash {
  cursor: pointer;
  filter: unset;
}

.reg-file-add ul {
  counter-reset: list;
  margin-bottom: 0;
}
.reg-file-add ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px 12px 56px;
  position: relative;
  border-top: 1px solid #c8c7cc;
}
.reg-file-add ul li::before {
  content: counter(list);
  counter-increment: list;
  width: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #3f4b60;
}
.reg-file-add ul li .name {
  display: grid;
}
.reg-file-add ul li .name .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #3f4b60;
}
.reg-file-add ul li .name .file-name {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #939393;
  margin-top: 4px;
}
.reg-file-add ul li .add {
  background: #eaf6f5;
  border-radius: 12px;
  border: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #3f4b60;
  padding: 6px 12px;
}
.reg-file-add ul li .delete {
  background: #f3f3f3;
  border-radius: 12px;
  border: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #3f4b60;
  padding: 6px 12px;
}
.reg-file-add ul li button {
  transition: 0.3s;
}
.reg-file-add ul li button:hover {
  opacity: 0.6;
}

.req-inner-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 0;
}
.req-inner-footer:before {
  content: "";
  background: #f9f9f9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.manager-req {
  display: flex;
  align-items: center;
}
.manager-req .left {
  display: grid;
  width: 30%;
}
.manager-req .left p {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #939393;
  margin-bottom: 6px;
}
.modal-files-deleted .files-list li {
  justify-content: center;
}

.files-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
.files-delete span {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3f4b60;
}

.manager-req .profile,
.paper-show .profile,
.collapse-main .profile,
.signatory-profile .profile,
.method-list-users .profile {
  display: flex;
  align-items: center;
  width: 70%;
}
.manager-req .profile .ava,
.paper-show .profile .ava,
.collapse-main .profile .ava,
.signatory-profile .profile .ava,
.method-list-users .profile .ava {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 12px;
}
.manager-req .profile .name,
.paper-show .profile .name,
.collapse-main .profile .name,
.signatory-profile .profile .name,
.method-list-users .profile .name {
  font-weight: normal;
  font-size: 14px;
  color: #3f4b60;
}
.manager-req .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}
.manager-req .right p {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  margin-bottom: 0;
  margin-right: 24px;
}

.manager-list {
}
.manager-list ul {
  height: 45vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Modal Назначить менеджера */
.manager-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e6ef;
  padding: 14px 8px;
}
.manager-list ul li:last-child {
  border-bottom: unset;
}
.manager-list ul li:hover {
  background: #f7fbfa;
  cursor: pointer;
}
.manager-list ul li .profile {
  display: flex;
  align-items: center;
  width: 70%;
}
.manager-list ul li .profile .ava {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 12px;
}
.manager-list ul li .profile .name {
  font-weight: normal;
  font-size: 14px;
  color: #3f4b60;
  width: calc(100% - 84px);
}
.manager-list ul li .position {
  font-weight: normal;
  font-size: 14px;
  color: #939393;
  width: 30%;
}

.search-input input {
  padding: 14px 12px 14px 44px;
  border: none;
  border-bottom: 1px solid #c8c7cc;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left calc(5px + 1px) center;
  background-size: 32px;
}
.search-input input::placeholder {
  font-weight: normal;
  font-size: 16px;
  color: #939393;
}
.search-input input:focus {
  box-shadow: unset;
  outline: none;
}
.search-input input:hover {
  box-shadow: unset;
}

.file-add {
  display: flex;
  align-items: center;
}
.file-add .info {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  color: #939393;
}
.file-added {
  padding: 20px 16px;
  background: #f9f9f9;
  height: 64px;
  position: relative;
  width: 100%;
}
.file-added-text {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #3f4b60;
}
.file-added-text span {
  margin-right: 110px;
  white-space: nowrap;
  overflow-x: hidden;
  width: calc(100% - 142px);
}
.paper-show .author {
  display: flex;
  align-items: center;
}
.paper-show .author h5 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  color: #3f4b60;
}
.paper-show .comment h5 {
  font-weight: 500;
  font-size: 16px;
  color: #3f4b60;
  margin-bottom: 8px;
}
.paper-show .comment p {
  font-weight: normal;
  font-size: 16px;
  color: #3f4b60;
  margin-bottom: 0;
}
.keys-add .keys-loader {
  background: #f3f3f3;
  border-radius: 16px;
  padding: 16px;
}
.keys-add .keys-loader h5 {
  font-weight: 500;
  font-size: 14px;
  color: #3f4b60;
}
.keys-add .keys-loader p {
  font-weight: normal;
  font-size: 14px;
  color: #3f4b60;
}
.keys-btn .btn-file {
  width: 100%;
  margin-bottom: 12px;
}
.done-request {
  padding: 24px 24px 24px 64px;
  background: #eaf6f5;
  border-radius: 16px;
  position: relative;
}
.done-request:before {
  content: "";
  position: absolute;
  left: 24px;
  top: 22px;
  width: 32px;
  height: 32px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAyMUMxNi45NzA2IDIxIDIxIDE2Ljk3MDYgMjEgMTJDMjEgNy4wMjk0NCAxNi45NzA2IDMgMTIgM0M3LjAyOTQ0IDMgMyA3LjAyOTQ0IDMgMTJDMyAxNi45NzA2IDcuMDI5NDQgMjEgMTIgMjFaTTExLjc2ODIgMTUuNjQwMkwxNi43NjgyIDkuNjQwMThMMTUuMjMxOCA4LjM1OTgyTDEwLjkzMjggMTMuNTE4Nkw4LjcwNzExIDExLjI5MjlMNy4yOTI4OSAxMi43MDcxTDEwLjI5MjkgMTUuNzA3MUwxMS4wNjcyIDE2LjQ4MTRMMTEuNzY4MiAxNS42NDAyWiIgZmlsbD0iIzIwQjVCRSIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}
.done-success {
  padding: 0 0 0 43px;
  position: relative;
}
.done-success:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAyMUMxNi45NzA2IDIxIDIxIDE2Ljk3MDYgMjEgMTJDMjEgNy4wMjk0NCAxNi45NzA2IDMgMTIgM0M3LjAyOTQ0IDMgMyA3LjAyOTQ0IDMgMTJDMyAxNi45NzA2IDcuMDI5NDQgMjEgMTIgMjFaTTExLjc2ODIgMTUuNjQwMkwxNi43NjgyIDkuNjQwMThMMTUuMjMxOCA4LjM1OTgyTDEwLjkzMjggMTMuNTE4Nkw4LjcwNzExIDExLjI5MjlMNy4yOTI4OSAxMi43MDcxTDEwLjI5MjkgMTUuNzA3MUwxMS4wNjcyIDE2LjQ4MTRMMTEuNzY4MiAxNS42NDAyWiIgZmlsbD0iIzIwQjVCRSIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}

.collapse-main {
  margin-top: 20px;
}
.collapse-main .desc {
  font-weight: normal;
  font-size: 16px;
  color: #939393;
  margin-bottom: 4px;
}
.collapse-main .profile .name {
  font-weight: 500;
}

.signatory-profile {
  display: flex;
  align-items: center;
  padding: 14px 0;
}
.signatory-profile .desc {
  font-weight: normal;
  font-size: 14px;
  color: #939393;
  margin-bottom: 0;
}
.signatory-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-status {
  width: 144px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #939393;
  display: block;
  transition: 0.3s;
}
.btn-status.not-active {
  background: #f3f3f3;
}
.btn-status.done {
  color: #20b5be;
  background: #eaf6f5;
}
.btn-status.canceled {
  color: #ff0000;
  background: #fff3f3;
  cursor: pointer;
}
.btn-status-signatory {
  padding: 5px 16px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.5px;
  border: none;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.btn-status-signatory.not-active {
  background: #c8c7cc;
  color: white;
  pointer-events: none;
}
.btn-status-signatory.active {
  background: #20b5be;
  color: white;
}
.btn-status-signatory.active:hover {
  opacity: 0.6;
}
.btn-status-signatory.done {
  color: #20b5be;
  background: #eaf6f5;
  padding: 8px 16px;
  pointer-events: none;
  text-transform: uppercase;
}
.btn-status-signatory.done i {
  display: none;
}
.btn-alert-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-alert-close button {
  width: 160px;
}
.btn-alert-close button:first-child {
  margin-right: 16px;
}
.btn-status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-status-icon i {
  margin-right: 0;
  margin-left: 8px;
}

.card-collapse .method-main .collapse-body {
  padding: 0;
}
.card-collapse .method-main .collapse-footer {
  padding: 24px;
}
.method-signatory .method-signatory-add {
  border-bottom: 1px solid #c8c7cc;
}
.method-signatory .method-signatory-header {
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #c8c7cc;
}
.method-signatory .method-signatory-header .left {
  width: 35%;
}
.method-signatory .method-signatory-header .left p {
  font-weight: normal;
  font-size: 14px;
  color: #939393;
}
.method-signatory .method-signatory-header .left p .delete {
  text-decoration: underline;
  position: relative;
  padding-left: 7px;
  margin-left: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.method-signatory .method-signatory-header .left p .delete:hover {
  color: tomato;
}
.method-signatory .method-signatory-header .left p .delete:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #939393;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
}
.method-signatory .method-signatory-header .right {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.method-add-user .method-list-users {
  margin-bottom: 24px;
}
.method-add-user .method-list-users li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  position: relative;
  transition: 0.3s;
}
.method-add-user .method-list-users li::before {
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  background: #e0e6ef;
  position: absolute;
  bottom: 0;
}
.method-add-user .method-list-users li .left {
  width: 50%;
  display: flex;
  align-items: center;
}
.method-add-user .method-list-users li:hover ~ i {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.method-add-user .method-list-users li .grab {
  cursor: grabbing;
  margin-right: 8px;
}
.method-add-user .method-list-users li .position {
  font-weight: normal;
  font-size: 14px;
  color: #939393;
}

.method-add-group {
  padding: 24px;
  border-bottom: 1px solid #c8c7cc;
}
.add-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #3f4b60;
}
.add-btn .circle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaf6f5;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-right: 8px;
  transition: 0.3s;
}
.add-btn:hover .circle {
  border: 1px solid #20b5be;
  background: transparent;
}
.paper-signatory .gkb-checkbox {
  margin-bottom: 0;
  width: 100%;
}
.paper-signatory .manager-list ul li .profile {
  user-select: none;
  padding: 14px 8px;
}
.paper-signatory .manager-list ul li {
  padding: 0;
}
.paper-signatory-footer {
}

.two-signatory {
  position: relative;
}
.two-signatory::before {
  content: "";
  border-left: 2px dashed #c8c7cc;
  position: absolute;
  left: 12px;
  bottom: -32px;
  height: 32px;
}
.paper-signatory .three-col.manager-list ul li .profile {
  width: 60%;
}
.paper-signatory .three-col.manager-list ul li .position {
  width: 25%;
}
.paper-signatory .three-col.manager-list ul li .services-use {
  width: 15%;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #939393;
}

.choose-service {
  display: flex;
  align-items: center;
}

.delete-if-icon {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}
.delete-if-icon:hover {
  background-color: #f3f3f3;
}
.delete-signatory {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ff0000;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  transition: 0.3s;
}
.delete-signatory::before,
.delete-signatory::after {
  content: "";
  height: 1px;
  width: 12px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff0000;
}
.delete-signatory::before {
  transform: rotate(45deg);
}
.delete-signatory::after {
  transform: rotate(-45deg);
}
.delete-signatory:hover {
  opacity: 0.6;
}
.manager-req .alert p {
  color: #ff0000;
}

/* Animation */
@-webkit-keyframes pulse {
  to {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

@keyframes pulse {
  to {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

.card-collapse.collapsed.disabled {
  background: #f3f3f3;
  border-color: #f3f3f3;
}
.card-collapse.collapsed.disabled .card-collapse-header .title-subhead {
  color: #939393;
}
.card-collapse.collapsed.disabled .card-collapse-header .btn-collapse {
  border-color: #939393;
}
.card-collapse.collapsed.disabled .card-collapse-header .btn-collapse .azla {
  filter: contrast(0);
}
.grid-view {
  display: grid;
  grid-gap: 16px;
}
.grid-view .step-item {
  width: 100%;
  display: grid;
  flex-direction: row;
  align-items: center;
  flex: unset;
  grid-template-columns: 32px 1fr;
}
.grid-view .step-item:before {
  content: "";
  margin-bottom: 0;
  margin-right: 8px;
}
.grid-view .step-item:after {
  height: 100%;
  width: 1px;
  top: 24px;
  left: 12px;
  transition: 0.3s;
}
.grid-view .step-item-active:before {
  background: #ffffff;
  border: 1px solid #20b5be;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.profile-info {
  margin-left: 216px;
}