@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3f4b60;
  text-align: left;
  background-color: #fff;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}
.line-hr {
  border-bottom: 1px solid #c8c7cc;
}
/* Padding Top and Bottom */
.pad-24 {
  padding: 24px;
}

.pad-rl-16 {
  padding: 0 16px;
}

.pad-tb-16 {
  padding: 16px 0;
}
.pad-tb-32 {
  padding: 32px 0;
}
.pad-tb-64 {
  padding: 64px 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: #0d6efd;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
}
a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

label {
  display: inline-block;
}

button {
  cursor: pointer;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Tabs */
.tab-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #c8c7cc;
  position: relative;
}
.tab-links .link {
  padding: 8px 12px;
  cursor: pointer;
}
.tab-links .bottomLine {
  position: absolute;
  bottom: 0;
  width: 107.53px;
  height: 2px;
  transition: 0.5s;
  background: #20b5be;
}

.tab-links .link:nth-child(1).active ~ .bottomLine {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.filter {
  padding: 32px 16px;
  width: 100%;
  position: relative;
}
.filter:before {
  content: "";
  background: #f9f9f9;
  position: absolute;
  left: -50px;
  top: 0;
  width: calc(100% + 100px);
  height: 100%;
  z-index: -1;
}
.filter .form-group {
  width: 100%;
}
.filter-search {
  display: flex;
  align-items: center;
}

.header-text {
  display: flex;
  align-items: center;
}
.header-text .text {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.btn-s {
  padding: 12px 16px;
  border: 1px solid #20b5be;
  border-radius: 16px;
  color: #20b5be;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button {
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  line-height: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  font-weight: normal;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.button i {
  font-size: 18px;
  margin-right: 8px;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon i {
  margin-right: 8px;
}
.btn-file {
  padding: 12px 16px;
  background: #eaf6f5;
  border-radius: 8px;
  border: none;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #20b5be;
  transition: 0.3s;
}
.btn-file:hover {
  opacity: 0.6;
}
@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }
}
.button:hover {
  color: white;
}
.button-check:focus + .button,
.button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.button:disabled,
.button.disabled,
fieldset:disabled .button {
  pointer-events: none;
  opacity: 0.5;
}

/* Table side */
.table-auto {
  display: table;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.table-ml {
  display: table;
  margin-left: auto;
}
.table-mr {
  display: table;
  margin-right: auto;
}

/* Margin top and bottom */
.mtb-0 {
  margin: 0px 0px;
}
.mtb-4 {
  margin: 4px 0px;
}
.mtb-8 {
  margin: 8px 0px;
}
.mtb-16 {
  margin: 16px 0px;
}
.mtb-24 {
  margin: 24px 0px;
}
.mtb-32 {
  margin: 32px 0px;
}

/* Margin top and bottom */
.mtb-auto-0 {
  margin: 0px auto;
}
.mtb-auto-4 {
  margin: 4px auto;
}
.mtb-auto-8 {
  margin: 8px auto;
}
.mtb-auto-16 {
  margin: 16px auto;
}
.mtb-auto-24 {
  margin: 24px auto;
}
.mtb-auto-32 {
  margin: 32px auto;
}

/* Margin Right */
.mr-0 {
  margin-right: 0px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-32 {
  margin-right: 32px;
}

/* Margin Left */
.ml-0 {
  margin-left: 0px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-32 {
  margin-left: 32px;
}

/* Margin Top */
.mt-0 {
  margin-top: 0px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}

/* Margin Bottom */
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}

/* Table start */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-spacing: 0px;
}
.table th {
  padding: 0.75rem;
}
.table td {
  padding: 1.25rem 1rem;
  font-weight: normal;
  font-size: 16px;
}
.table thead tr th {
  font-weight: normal;
  font-size: 16px;
  color: #3f4b60;
  background-color: #f3f3f3;
}
.req-table tr {
  transition: 0.3s;
}
.req-table tr:hover {
  background: #f7fbfa;
  cursor: pointer;
}
.table thead tr th:last-child,
.table td:last-child {
  text-align: right;
}

.req-table tr td:nth-child(1) {
  text-decoration-line: underline;
  font-weight: 500;
}

/* Table end */

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-grid {
  display: grid !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-none {
  display: none !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}
.d-flex-align-c-spaceb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Grid Layout */
.container,
.container-fluid {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.33333333%;
  }

  .offset-md-2 {
    margin-left: 16.66666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.33333333%;
  }

  .offset-md-5 {
    margin-left: 41.66666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.33333333%;
  }

  .offset-md-8 {
    margin-left: 66.66666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.33333333%;
  }

  .offset-md-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.33333333%;
  }

  .offset-lg-2 {
    margin-left: 16.66666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333333%;
  }

  .offset-lg-5 {
    margin-left: 41.66666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333333%;
  }

  .offset-lg-8 {
    margin-left: 66.66666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333333%;
  }

  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
}

/* Modal */

.modal-backbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3f4b60;
  opacity: 0.7;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
  transition: 0.5s;
  transform: translate(0, -70px);
}
.modal-large .modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
  min-height: calc(100% - 3.5rem);
}
.modal-default .modal-dialog {
  max-width: 400px;
  margin: 1.75rem auto;
  min-height: calc(100% - 3.5rem);
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: 0;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 24px 16px;
}
.modal-footer {
  background: #f3f3f3;
  border-radius: 0px 0px 8px 8px;
  padding: 16px 24px;
}
.modal-close {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
  z-index: 11;
}

.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
.modal-open .modal .modal-dialog {
  transition: 0.5s;
  transform: translate(0, 0);
}
.modal-open .modal-backbg {
  opacity: 0.5;
  display: block;
}
/* Dropdowns */
.dropdown {
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  color: white;
  transition: 0.3s;
}
.dropdown::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 7px;
  width: 7px;
  left: 5px;
  position: relative;
  top: 5px;
  transform: rotate(-45deg);
  vertical-align: top;
}
.dropdown.down:before {
  top: 3px;
  transform: rotate(135deg);
}

/* Buttons */
.btn-primary {
  background: #20b5be;
  color: white;
}
.btn-primary:hover {
  background: #19959c;
  color: white;
}
.btn-secondary {
  border: 1px solid #20b5be;
  background: white;
  color: #20b5be;
}
.btn-secondary:hover {
  border: 1px solid #19959c;
  background: white;
  color: #19959c;
}
/* Text */
.title-main {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #3f4b60;
}
.title-subhead {
  font-weight: bold;
  font-size: 24px;
  color: #3f4b60;
}
.title-subhead-h5 {
  font-weight: 500;
  font-size: 18px;
  color: #3f4b60;
}
.title-subhead .number {
  color: #939393;
}
.text-desc {
  font-weight: normal;
  font-size: 16px;
  color: #3f4b60;
}
.text-center {
  text-align: center;
}

.form-wrapper {
  position: relative;
  line-height: 14px;
  margin-bottom: 18px;
  width: 100%;
  display: inline-block;
  transition: 0.3s;
}

.form-wrapper label {
  transition: 0.3s;
  color: #3f4b60;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  left: 16px;
  top: 18px;
  padding: 0 2px;
  pointer-events: none;
  background: #fff;
  -webkit-transition: -webkit-transform 100ms ease;
  -moz-transition: -moz-transform 100ms ease;
  -o-transition: -o-transform 100ms ease;
  -ms-transition: -ms-transform 100ms ease;
  transition: transform 100ms ease;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
}
.form-wrapper input {
  outline: none;
  border: 1px solid #c8c7cc;
  height: 3rem;
  padding: 0.875rem 1rem;
  border-radius: 12px;
  width: 100%;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  color: #3f4b60;
  transition: 0.3s;
}
.form-wrapper input::placeholder {
  color: #b7bec5;
}
.form-wrapper input:invalid + label {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  font-size: 16px;
  transition: 0.3s;
}
.form-wrapper input:focus {
  border-color: #20b5be;
  transition: 0.3s;
}
.form-wrapper input:focus + label {
  border-color: red;
  font-size: 12px;
  color: #20b5be;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  transition: 0.3s;
}

.form-group,
.form-check {
  position: relative;
  margin-bottom: 0.75rem;
}
.form-group label {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #3f4b60;
  margin-bottom: 0.5rem;
}
.form-control {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0.875rem 1rem;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3f4b60;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c8c7cc;
  border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #6fc9ce;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 181, 190, 0.25);
}
.form-control::placeholder {
  color: #c8c7cc;
  opacity: 1;
}
.form-control-textarea {
  padding: 14px 16px;
  background: #ffffff;
  border: 1px solid #c8c7cc;
  border-radius: 8px;
  width: 100%;
  transition: 0.3s;
}
.form-control-textarea::placeholder {
  font-weight: normal;
  font-size: 16px;
  color: #c8c7cc;
}
.form-control-textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #6fc9ce;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 181, 190, 0.25);
}
.form-group-v {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.form-group-v label {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #3f4b60;
  width: 28%;
  margin-right: 24px;
  white-space: nowrap;
  pointer-events: none;
}
.form-control-v {
  display: block;
  width: 70%;
  height: 3rem;
  padding: 0.875rem 1rem;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3f4b60;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c8c7cc;
  border-radius: 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-v:focus {
  color: #495057;
  background-color: #fff;
  border-color: #6fc9ce;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 181, 190, 0.25);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 6px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ff0000;
}
.is-invalid input,
.is-invalid select {
  color: #ff0000;
  border-color: #ff0000;
}
.is-invalid label {
  color: #ff0000;
}
.is-invalid .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}

/* Card */
.card {
  background: #ffffff;
  border: 1px solid #c8c7cc;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.card-header .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.card-header .title .text {
  font-weight: 500;
  font-size: 18px;
  color: #3f4b60;
  margin: 0;
}
.card-header .title .num {
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  color: #20b5be;
  display: block;
}
.card-header .desc {
  font-weight: normal;
  font-size: 16px;
  color: #939393;
  margin-bottom: 1rem;
}

/* Checkbox */
.gkb-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: #3f4b60;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.gkb-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -7px;
  top: -5px;
  display: block;
  margin: 0;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.gkb-checkbox > label {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

/* Box */
.gkb-checkbox > label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 16px 3px 1px;
  border: 1px solid #3f4b60;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.gkb-checkbox > label::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 3px;
  width: 14px;
  height: 7px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.gkb-checkbox > input:checked,
.gkb-checkbox > input:indeterminate {
  background-color: #eaf6f5;
}

.gkb-checkbox > input:checked + label::before,
.gkb-checkbox > input:indeterminate + label::before {
  border-color: #20b5be;
  background-color: #20b5be;
}

.gkb-checkbox > input:checked + label::after,
.gkb-checkbox > input:indeterminate + label::after {
  border-color: white;
}

.gkb-checkbox > input:indeterminate + label::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.gkb-checkbox:hover > input {
  opacity: 0.04;
}

.gkb-checkbox > input:focus {
  opacity: 0;
}

.gkb-checkbox:hover > input:focus {
  opacity: 0.04;
}

/* Active */
.gkb-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.gkb-checkbox > input:active + label::before {
  border-color: #eaf6f5;
}

.gkb-checkbox > input:checked:active + label::before {
  border-color: transparent;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.gkb-checkbox > input:disabled {
  opacity: 0;
}

.gkb-checkbox > input:disabled + label {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  cursor: initial;
}

.gkb-checkbox > input:disabled + label::before {
  border-color: currentColor;
}

.gkb-checkbox > input:checked:disabled + label::before,
.gkb-checkbox > input:indeterminate:disabled + label::before {
  border-color: transparent;
  background-color: currentColor;
}

.checkbox-list {
  display: grid;
}

.react-tabs .react-tabs__tab-list {
  border-bottom: none;
  margin-bottom: 0;
  transition: 0.3s;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab {
  border: none;
  border-bottom: 2px solid #c8c7cc;
  transition: 0.3s;
  font-size: 18px;
  color: #3f4b60;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
  border-color: #20b5be;
  color: #20b5be;
  transition: 0.3s;
  font-weight: 500;
}
.react-tabs__tab:focus {
  box-shadow: none !important;
  outline: none !important;
}
.react-tabs__tab:focus:after {
  content: unset !important;
}

.alert-mess {
  display: inline-block;
  padding: 16px 20px;
  background: #fff3f3;
  border-radius: 8px;
  color: #ff0000;
}
.alert-mess h5 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}
.alert-mess p {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0;
}

/* MultiSelection */
.form-multiselect {
  position: relative;
  line-height: 14px;
  margin-bottom: 18px;
  width: 100%;
  display: inline-block;
  transition: 0.3s;
}
.form-multiselect .label {
  transition: 0.3s;
  color: #3f4b60;
  font-size: 12px;
  position: absolute;
  z-index: 2;
  left: 16px;
  top: 18px;
  padding: 0 2px;
  pointer-events: none;
  background: #fff;
  transition: transform 100ms ease;
  transform: translateY(-25px);
}
.input-wrapper {
  position: relative;
}
.input-wrapper input {
  outline: none;
  border: 1px solid #c8c7cc;
  height: 3rem;
  padding: 0.875rem 40px 0.875rem 1rem;
  border-radius: 12px;
  width: 100%;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  color: #3f4b60;
  transition: 0.3s;
}
.input-wrapper input:focus {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDlMMTIuMzUzNiA4LjY0NjQ1TDEyIDguMjkyODlMMTEuNjQ2NCA4LjY0NjQ1TDEyIDlaTTE4LjM1MzYgMTQuNjQ2NEwxMi4zNTM2IDguNjQ2NDVMMTEuNjQ2NCA5LjM1MzU1TDE3LjY0NjQgMTUuMzUzNkwxOC4zNTM2IDE0LjY0NjRaTTExLjY0NjQgOC42NDY0NUw1LjY0NjQ1IDE0LjY0NjRMNi4zNTM1NSAxNS4zNTM2TDEyLjM1MzYgOS4zNTM1NUwxMS42NDY0IDguNjQ2NDVaIiBmaWxsPSIjMjBCNUJFIi8+Cjwvc3ZnPgo=");
}
.multi .multi-menu {
  background: #ffffff;
  border: 1px solid #c8c7cc;
  border-radius: 8px;
  max-height: 0;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(16px);

  position: absolute;
  width: 100%;
  z-index: 1;
}
.multi-search {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.multi-search input {
  display: block;
  padding: 14px 40px 14px 16px;
  width: 100%;
  border: none;
  background-color: white;
  font-weight: normal;
  font-size: 14px;
  color: #939393;
  border-bottom: 1px solid #c8c7cc;
  border-radius: 8px 8px 0 0;
  height: 48px;
}
.multi-search input:focus {
  box-shadow: none;
  outline: none;
}
.multi-option {
  padding: 8px 16px;
}
.multi-option .multi-list {
  border-bottom: 1px solid #f3f3f3;
  padding: 8px 0;
}
.multi-option .multi-list:last-child {
  border-bottom: none;
}
.multi-option .multi-list .gkb-checkbox {
  margin-bottom: 0;
}
.multi-option .multi-option-select {
  font-weight: normal;
  font-size: 14px;
  color: #3f4b60;
  cursor: pointer;
}
.multi.open .multi-menu {
  max-height: 100000px;
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
  transform: translateY(8px);
}
.selected-options {
  margin-top: 0px;
  margin-bottom: 0;
  list-style-type: none;
  max-width: 400px;
  padding: 0;
}
.selected-options li {
  display: inline-block;
  margin-bottom: 5px;
}
.selected-options .remove-option {
  background-color: #20b5be;
  border: 1px solid #20b5be;
  border-radius: 3px;
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 4px 20px 4px 4px;
  position: relative;
}
.remove-option::before,
.remove-option::after {
  border-right: 2px solid #fff;
  content: "";
  height: 1em;
  right: 0.75em;
  position: absolute;
  top: 50%;
  width: 0;
}
.remove-option::before {
  transform: translate(0, -50%) rotate(45deg);
}
.remove-option::after {
  transform: translate(0, -50%) rotate(-45deg);
}
/* Animation */

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInModal {
  -webkit-animation-name: fadeInModal;
  animation-name: fadeInModal;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
